
#container {
	position: relative;
	overflow: hidden;
}

#container .content {
	position: absolute;
	top: 0;
	left: 0;
}


.section {
    text-align: center;
    color: #fff;

}

h1 {
    margin: 0px;
    padding: 20px;
}


#box {
    background-color: grey;
    width: 600px;
    height: 400px;
    padding: 25px;
    margin: 25px;
}

#box2 {
    background-color: grey;
    width: 350px;
    height: 320px;
    padding: 25px;
    margin: 25px;
    margin-bottom: 25px;
    overflow: scroll;
    
}

.col {
    width: 50%;
    float: left;
    text-align: left;
}

.col1 {
    width 50%;
    float: left;
    text-align: left;
}

.col-spacing {
    padding: 20px;
}

.more-link {
    cursor: pointer;
    font-weight: bolder;
    padding: 10px;
    background: #fff;
    color: #000;
    text-align: center;
    opacity: 0.8;
}

.more-link:hover {
    opacity: 1.0;
}

.more-info {
    display: none;
}

#info1{
    padding-top: 0px;
}

#info2 {
    padding-top: 410px;
}

#info3 {
    padding-top: 900px;
}

.max-width {
    width: 100%;
}

.img-button {
    padding: 4px;
    border: 3px solid white;
    margin-bottom: 10px;
    opacity: 0.8;
    cursor: pointer;
    transition: all 0.5s;
}

.img-button:hover{
    opacity: 1.0;
}

#one {
	background:#dfdfdf;
    opacity: 0.2;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.3999996185303px;
}

#two {
	background: #EFD6DE;
    opacity: 0.5;
    height:auto;
}


.clearfix {
    clear: both;
}

#homebuttons {
    opacity: 0.8;
}




.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
	background:-moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0);
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
	background:-moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed',GradientType=0);
	background-color:#dfdfdf;
}
.myButton:active {
	position:relative;
	top:1px;
}
