.container {
	width: 100%;
}

.content {
	background: #dfdfdf;
	padding: 10px;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

.header {
	text-align: center;
}

.main-video {
	float: left;
	width: 100%;
}

.video-thumbs {
	float: left;
	width: 14.28%;
}

.sidebar {
	float:left;
	width: 33.33333%;
}

.col-third {
	float: left;
	width: 33.33333%
}

.spacing {
	padding: 10px;
}

.icon-padding {
	padding:30px;
}

.video-des {
	text-align: center;
}

.clearfix {
	clear: both;
}

.img-width {
	width: 100%;
}